* {
  margin: 0;
  padding:0;
}

body{
  font-family: "Montserrat";
  color: #D4D6D6;
}
a{
  text-decoration: none;
  color: #D4D6D6;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows:1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:  
  "main"
  "about"
  "projects"
  "contact"
  "footer"; 
}

/* NAV BAR*/

#navbar{
  position: fixed;
  width: 100%;
  
}

nav .content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5vh;
  padding-right: 5vh;
  padding-top: 3vh;
}



/* NAV BAR END*/

#main {  
  background: rgb(218, 74, 74);
  grid-area: main;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  background: url(img/header.jpg);
  background-size: cover;
}

#main div{
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#main h1 {
  font-size: 4rem;
}
#about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: rgb(90, 164, 167);
  grid-area: about;
  height: 100vh;
}

#about div{  
  padding-top: 40vh;
}



#projects {
  background: rgb(184, 95, 95);
  grid-area: projects;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
}
#contact {
  background: rgb(126, 170, 85);
  grid-area: contact;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
}

footer {
  background: #1de9b6;
  grid-area: footer;
  height: 5vh;
  display: grid;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 650px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 2fr 1.5fr 1.5fr 1.5fr 0.5fr;
    grid-template-areas:
      "nav"
      "main"
      "about"
      "projects"
      "contact"
      "footer";
  }

  nav {
    height: 5vh;
  }

  #about {
    display: grid;
    grid-template-columns: 0fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
  }
}
