html, body, div, form,
h1, h2, h3, h4, h5, h6,
p, a, ul, li {
  font-size: 100%;
  font-weight: normal;
  font: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
}

img {
  border: 0;
}

body {
  font-family: "Montserrat";
  color: #3ec5c5;
}

/*-------------------------------*/
/*FULLPAGE LATERAL SCROLL BAR*/
/*-------------------------------*/
#fp-nav ul li a span {
  background: orange;
}
#fp-nav ul li .fp-tooltip {
  color: orange;
}

#fp-nav.fp-right {
  right: 0.5vw;
}

/*-------------------------------*/
/*NAVBAR*/
/*-------------------------------*/
.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 2vh;
  z-index: 10;
}
.navbar ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.navbar ul li, .navbar ul a {
  align-self: center;
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.8rem;
  transition: 0.4s ease;
}
.navbar ul a:hover {
  color: orange;
}
.navbar ul li.active {
  border-bottom: 3px solid orange;
}
.navbar ul li.active a {
  color: orange;
}
.navbar .logo {
  display: none;
}

/*-------------------------------*/
/*HOME SECTION*/
/*-------------------------------*/
.home .home-container {
  height: 100%;
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  background: url(../../images/header.jpg);
  background-size: cover;
}
.home .home-container > .home-content {
  text-align: center;
  height: 20%;
  width: 100%;
}
.home .home-container > .home-content h1 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2.4rem;
  letter-spacing: 8px;
  margin-bottom: 3vh;
}
.home .home-container > .home-content p {
  font-size: 1rem;
  text-transform: uppercase;
}

/*-------------------------------*/
/*Projects SECTION*/
/*-------------------------------*/
.projects .projects-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: #F2F2F2;
}
.projects .projects-container > .projects-content {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 3vh;
  height: 70vh;
  width: 70vw;
}
.projects .projects-container > .projects-content > .project-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 0.6rem;
  background: #f5e2e5;
  border-radius: 3px;
  padding: 5vh 5vw;
}
.projects .projects-container > .projects-content > .project-card h3 {
  color: orange;
  font-size: 1.2rem;
  margin-bottom: 3vh;
}
.projects .projects-container > .projects-content > .project-card p {
  color: black;
  font-size: 1rem;
  margin-bottom: 3vh;
}
.projects .projects-container > .projects-content > .project-card ul > li {
  color: black;
  display: inline-block;
  font-size: 0.8rem;
  margin-right: 2vw;
}
.projects .projects-container > .projects-content > .project-card:hover {
  border: 1px solid black;
}

@media (min-width: 1200px) {
  .projects .projects-container .projects-content {
    width: 50%;
    height: 50%;
    gap: 4vw;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
  .projects .projects-container .projects-content > .project-card {
    padding: 3vh 2vw;
  }
}
/*-------------------------------*/
/*ABOUT SECTION*/
/*-------------------------------*/
.about .about-container {
  height: 100%;
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  background: #F2F2F2;
}
.about .about-container .about-content {
  height: 70vh;
  display: flex;
  width: 75%;
  flex-direction: column;
  justify-content: space-evenly;
}
.about .about-container .about-content > div {
  margin-top: 5vh;
}
.about .about-container .about-content > div > h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: orange;
  margin-bottom: 1vh;
}
.about .about-container .about-content > div > h3 {
  font-size: 1.3rem;
  color: black;
}
.about .about-container .about-content > div > p {
  line-height: 1.3;
  font-size: 1rem;
}
.about .about-container .about-content > div > p.period {
  font-size: 0.8rem;
  color: black;
  margin-bottom: 0.7vh;
}
.about .about-container .about-content > div > p.description {
  color: #4d706b;
}

/*Skills*/
.skill-ul {
  margin-top: 2vh;
  padding-left: 0;
  list-style: none;
  font-size: 2rem;
}
.skill-ul .skill-li {
  display: inline-block;
  margin-right: 3vw;
}
.skill-ul .skill-li .fa-js-square {
  color: #ffca28;
}
.skill-ul .skill-li .fa-html5 {
  color: #e44f26;
}
.skill-ul .skill-li .fa-css3-alt {
  color: #1572b6;
}
.skill-ul .skill-li .fa-sass {
  color: #cd6699;
}
.skill-ul .skill-li .fa-java {
  color: #0d8ac7;
}
.skill-ul .skill-li .fa-python {
  color: #ffd43b;
}
.skill-ul .skill-li .fa-git-square {
  color: #f05133;
}
.skill-ul .skill-li .fa-database {
  color: #3399db;
}

/*-------------------------------*/
/*Contact SECTION*/
/*-------------------------------*/
.contact {
  display: flex;
  justify-content: center;
}
.contact .contact-container {
  width: 100%;
  height: 100%;
  display: grid;
  background: #F2F2F2;
}
.contact .contact-container .contact-content {
  text-align: center;
  justify-self: center;
  align-self: center;
  width: 65%;
  height: 40%;
}
.contact .contact-container .contact-content h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: orange;
  margin-bottom: 6vh;
}
.contact .contact-container .contact-content p {
  font-size: 1rem;
  color: black;
  margin-bottom: 10vh;
}
.contact .contact-container .contact-content a {
  font-size: 1rem;
  color: orange;
  border: solid 1px orange;
  padding: 15px;
  text-transform: uppercase;
  border-radius: 4px;
}

/*# sourceMappingURL=style.css.map */
