.home {
  background: url(../../images/header.jpg);
  background-size: cover;
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  & .title-container > h1 {
    font-size: 3.4rem;
  }
  & .title-container > p {
    text-transform: uppercase;
    font-size: 1rem;
  }
}

.about {
  & .about-container {
    display: grid;
    justify-content: space-evenly;
  }
}
