
$font-color: #b39b9b;



$css3Color: #1572b6;
$dbColor: #3399db;
$gitColor: #f05133;
$html5Color: #e44f26;
$javaColor: #0d8ac7;
$jsColor: #ffca28;
$pythonColor: #ffd43b;
$sassColor: #cd6699;

html, body, div, form,
h1, h2, h3, h4, h5, h6,
p, a , ul, li{
  font-size: 100%;
  font-weight: normal;
  font: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  list-style: none;
  
  text-decoration: none;
}
img {
  border: 0;
}

body{
  font-family: "Montserrat";
  color: #3ec5c5;
}
