/*-------------------------------*/
/*FULLPAGE LATERAL SCROLL BAR*/
/*-------------------------------*/
#fp-nav ul li {
  & a span {
    background: orange;
  }
  & .fp-tooltip {
    color: orange;
  }
}
#fp-nav.fp-right {
  right: 1vw;
}

/*-------------------------------*/
/*NAVBAR*/
/*-------------------------------*/
.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 2vh;
  z-index: 10;

  & ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    & li,
    & a {
      align-self: center;
      display: inline-block;
      text-transform: uppercase;
      font-size: 0.6rem;
      transition: 0.4s ease;
    }
    & a:hover {
      color: orange;
    }
    & li.active {
      border-bottom: 3px solid orange;
      & a {
        color: orange;
      }
    }
  }
  & .logo {
    display: none;
  }
}

/*-------------------------------*/
/*HOME SECTION*/
/*-------------------------------*/
.home {
  background: url(../../images/header.jpg);
  background-size: cover;
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  & .title-container > h1 {
    font-size: 2rem;
  }
  & .title-container > p {
    font-size: 1rem;
  }
}
/*-------------------------------*/
/*ABOUT SECTION*/
/*-------------------------------*/
.about {
  & .about-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
