/*-------------------------------*/
/*FULLPAGE LATERAL SCROLL BAR*/
/*-------------------------------*/
#fp-nav ul li {
  & a span {
    background: orange;
  }
  & .fp-tooltip {
    color: orange;
  }
}
#fp-nav.fp-right {
  right: 0.5vw;
}

/*-------------------------------*/
/*NAVBAR*/
/*-------------------------------*/
.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 2vh;
  z-index: 10;

  & ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    & li,
    & a {
      align-self: center;
      display: inline-block;
      text-transform: uppercase;
      font-size: 0.8rem;
      transition: 0.4s ease;
    }
    & a:hover {
      color: orange;
    }
    & li.active {
      border-bottom: 3px solid orange;
      & a {
        color: orange;
      }
    }
  }
  & .logo {
    display: none;
  }
}

/*-------------------------------*/
/*HOME SECTION*/
/*-------------------------------*/
.home {
  background: url(../../images/header.jpg);
  background-size: cover;
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  & .title-container > h1 {
    font-size: 2.5rem;
  }
  & .title-container > p {
    font-size: 1rem;
  }
}
/*-------------------------------*/
/*ABOUT SECTION*/
/*-------------------------------*/
.about {
  text-align: center;
  & .about-container > div {
    & > h2 {
      font-size: 1.5rem;
      color: orange;
    }
    & > h3 {
      font-size: 1rem;
      color: rgb(177, 241, 231);
    }
    & > p.where {
      font-size: 0.6rem;
      color: #b39b9b;
    }
    & > p.period {
      font-size: 0.6rem;
      color: #b39b9b;
    }
    & > p.description {
      font-size: 0.6rem;
      color: #b39b9b;
    }
  }

  & .about-container {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

/*-------------------------------*/
/*Contact SECTION*/
/*-------------------------------*/
.contact {
  display: flex;
  justify-content: center;
  & .contact-container {
    width: 100%;
    height: 100%;
    display: grid;
    & .contact-content {
      text-align: center;
      justify-self: center;
      align-self: center;
      width: 65%;
      height: 40%;
      & h2{
        font-size: 1rem;
        padding-bottom: 3vh;;
      }
      & p{
        font-size: 0.6rem;
        padding-bottom: 3vh;;
      }
    }
  }
}
