/*-------------------------------*/
/*ABOUT SECTION*/
/*-------------------------------*/
.about {
  & .about-container {
    height: 100%;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    background: $backgroundColor;

    & .about-content {
      height: 70vh;
      display: flex;
      width: 75%;
      flex-direction: column;
      justify-content: space-evenly;
    }

    & .about-content > div {      
      margin-top: 5vh;
      & > h2 {
        font-size: 1.5rem;
        
        text-transform: uppercase;
        color: orange;
        margin-bottom: 1vh;
      }
      & > h3 {
        font-size: 1.3rem;
        color: rgb(0, 0, 0);
      }
      & > p {
        line-height: 1.3;
        font-size: 1rem;

        &.period {
          font-size: 0.8rem;
          color: rgb(0, 0, 0);
          margin-bottom: 0.7vh;
        }
        &.description {
          color: rgb(77, 112, 107)
        }
      }
    }
  }
}

/*Skills*/
.skill-ul {
  margin-top: 2vh;
  padding-left: 0;
  list-style: none;
  font-size: 2rem;

  & .skill-li {
    display: inline-block;
    margin-right: 3vw;

  &  .fa-js-square {
      color: $jsColor;
    }

   & .fa-html5 {
      color: $html5Color;
    }

   & .fa-css3-alt {
      color: $css3Color;
    }

   & .fa-sass {
      color: $sassColor;
    }

   & .fa-java {
      color: $javaColor;
    }

   & .fa-python {
      color: $pythonColor;
    }

   & .fa-git-square {
      color: $gitColor;
    }

   & .fa-database {
      color: $dbColor;
    }

  }
}


