/*-------------------------------*/
/*ABOUT SECTION*/
/*-------------------------------*/
.about {
  & .about-container {
    height: 100%;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    background: #1d3557;

    & .about-content {
      height: 70vh;
      display: flex;
      width: 75%;
      flex-direction: column;
      justify-content: space-evenly;
    }

    & .about-content > div {
      & > h2 {
        font-size: 1.5rem;
        
        text-transform: uppercase;
        color: orange;
        margin-bottom: 1vh;
      }
      & > h3 {
        font-size: 1.3rem;
        color: rgb(177, 241, 231);
      }
      & > p {
        line-height: 1.3;
        font-size: 1rem;

        &.period {
          font-size: 0.8rem;
          color: #b39b9b;
          margin-bottom: 0.7vh;
        }
        &.description {
          color: rgb(177, 241, 231);
        }
      }
    }
  }
}
