/*-------------------------------*/
/*Contact SECTION*/
/*-------------------------------*/
.contact {
  display: flex;
  justify-content: center;
  & .contact-container {
    width: 100%;
    height: 100%;
    display: grid;
    background: #F2F2F2;
    & .contact-content {
      text-align: center;
      justify-self: center;
      align-self: center;
      width: 65%;
      height: 40%;
      & h2 {
        font-size: 1.5rem;  
        text-transform: uppercase;
        color: orange;      
        margin-bottom: 6vh ;
      }
      & p {
        font-size: 1rem;
        color: black;
        margin-bottom: 10vh ;
      }
      & a{
        font-size: 1rem;
        color: orange;
        border: solid 1px orange;
        padding: 15px;
        text-transform: uppercase;
        border-radius: 4px;
      }
    }
  }
}
