/*-------------------------------*/
/*HOME SECTION*/
/*-------------------------------*/
.home {
  & .home-container {
    height: 100%;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    background: url(../../images/header.jpg);
    background-size: cover;
    & > .home-content {
      text-align: center;
      height: 20%;
      width: 100%;
      &  h1 {
        font-weight: 600;
        text-transform: uppercase;
        font-size: 2.4rem;        
        letter-spacing: 8px;
        margin-bottom: 3vh;
      }
      &  p {
        font-size: 1rem;
        text-transform: uppercase;
      }
    }
  }
}
