/*-------------------------------*/
/*Projects SECTION*/
/*-------------------------------*/

.projects {  
    & .projects-container {
      height: 100vh;
      width: 100vw;
      display: grid; 
      align-items: center;
      justify-items: center;
      background-color: #1d3557;   
      & > .projects-content{
        display: grid;
        grid-template-rows: repeat(2,1fr);
        gap: 3vh;
        height: 70vh;
        width: 70vw;
        & > .project-card{
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          font-size: 0.6rem;
          background:  #325870;
          border-radius: 3px;
          padding: 5vh 5vw;
          & h3{
            color: orange;
            font-size: 1.2rem;
            margin-bottom: 3vh;;
          }
          & p{
            font-size: 0.7rem;
            margin-bottom: 3vh;;
          }
  
          & ul > li{
            display:inline-block;
            font-size: 0.4rem;
            margin-right: 2vw;
          }         
        }
             
      }
  
    }
  }
  