/*-------------------------------*/
/*Projects SECTION*/
/*-------------------------------*/

.projects {  
    & .projects-container {
      height: 100vh;
      width: 100vw;
      display: grid; 
      align-items: center;
      justify-items: center;
      background-color: $backgroundColor;   
      & > .projects-content{
        display: grid;
        grid-template-rows: repeat(2,1fr);
        gap: 3vh;
        height: 70vh;
        width: 70vw;        
        & > .project-card{
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          font-size: 0.6rem;
          background:  #f5e2e5;
          border-radius: 3px;
          padding: 5vh 5vw;
          & h3{
            color: orange;
            font-size: 1.2rem;
            margin-bottom: 3vh;;
          }
          & p{
            color: black;
            font-size: 1rem;
            margin-bottom: 3vh;;
          }
  
          & ul > li{
            color: black;
            display:inline-block;
            font-size: 0.8rem;
            margin-right: 2vw;
          }
                 
        }
        & > .project-card:hover{
          transform: scale(1.03);
        }
             
      }
  
    }
  }

  @media  (min-width: 1200px) {
    .projects {
      & .projects-container {
        & .projects-content{
          width: 50%;
          height: 50%;
          gap: 4vw;
          grid-template-rows: 1fr;
          grid-template-columns: repeat(2,1fr);
          & > .project-card{
            padding: 3vh 2vw;
        }
      }
    }
  }
}
  